/* Configurações Gerais */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: radial-gradient(#555555, #444444);
    color: #FFFFFF;
    font-weight: bold;
}

/* Barra de Navegação */

nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* top: 0;
    position: fixed;
    width: 100%;
    z-index: 1; */
}

#navSup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #000000;
}

#barraPesquisa {
    padding: 5px;
    border: 2px solid #B42929;
    border-radius: 5px;
    background-color: #979797;
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.3s;
}

#barraPesquisa:focus {
    border: 2px solid #e23434;
    outline: none;
}

.botao {
    background: linear-gradient(to right, #B42929, #606163);
    border: none;
    outline: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#navInf {
    padding: 20px;
    background-color: #111111;  
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    font-weight: bolder;
}

#ativo {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: troca_cor;
}

@keyframes troca_cor {
    0% { color: #B42929;}
    25% { color: #832b2b;}
    50% { color: #aa4646;}
    75% { color: #832b2b;}
    100% { color: #B42929;}
}

/* Corpo */

p {
    margin: 0;
    padding: 10px;
}

#artigo-principal, .artigo-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: auto;
    background-color: #ffffff36;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 5%;
}

#conteudo-principal {
    filter: drop-shadow(0px 0px 15px #333333);
}

article img {
    width: 80%;
    margin-top: 30px;
    border-radius: 5%;
}

/* Rodápe */

footer {
    margin-top: 20px;
}

#footerPT1 {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.rede {
    width: 100px;
}

#midias {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}

#midias img {
    width: 40%;
}

#footerPT2 {
    background-color: #000000;
}