/* Configurações Gerais */

body {
    background-color: #5C5757;
}

/* Cabeçalho */

#introd {
    display: flex; /* Posso distirbuir elementos livremente horizontalmente e verticalmente */
    flex-direction: column; /* Muda a direção do flex para colunas */
    align-items: center; /*Centraliza meus itens horizontalmente */
}

hr {
    width: 1220px;
    border-color: #000000; /*Muda a cor da minha linha (mais utilizado para mudar a cor de bordas */
}

/* Navbar */

#navbar {
    background-color: #6B6B6B;
    width: 100%; /* Ajusta o espaço para usar 100% dele */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; /*Faz um espaçamento mais "direitnho" para minha navbar (não colapsa itens) */
}

a {
    text-decoration: none;
}