/* Configurações Gerais */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

/* Barra de Navegação */

nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#navSup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: #000000;
}

#barraPesquisa {
    padding: 5px;
    border: 2px solid #6D2B2C;
    border-radius: 5px;
    background-color: #979797;
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.3s;
}

#barraPesquisa:focus {
    border: 2px solid #8f383a;
    outline: none;
}

.botao {
    background: linear-gradient(to right, #6D2B2C, #606163);
    border: none;
    outline: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#navInf {
    padding: 20px;
    background-color: #111111;  
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    font-weight: bolder;
}