/* Configurações Gerais */

@import url(https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Tagesschrift&display=swap);

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Comic Relief", system-ui;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

body {
    background: radial-gradient(#555555, #444444);
}

nav, #titulo {
    font-family: "Tagesschrift", system-ui;
}

/* Barra de Navegação */

nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#navSup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background: radial-gradient(#111111, #000000);
}

.barraPesquisa {
    padding: 5px;
    border: 2px solid #B42929;
    border-radius: 5px;
    background-color: #979797;
    font-family: "Comic Relief", system-ui;
    color: #FFFFFF;
    font-weight: bold;
    transition: 0.3s;
}

#barraPesquisa:focus {
    border: 2px solid #e23434;
    outline: none;
}

.botao {
    background: linear-gradient(to right, #B42929, #606163);
    border: none;
    outline: none;
    font-family: "Comic Relief", system-ui;
    color: #FFFFFF !important;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

#cor_fundo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

#navInf {
    padding: 20px;
    background: radial-gradient(#222222, #111111); 
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    font-weight: bolder;
}

#ativo {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: troca_cor;
}

@keyframes troca_cor {
    0% { color: #B42929;}
    25% { color: #832b2b;}
    50% { color: #aa4646;}
    75% { color: #832b2b;}
    100% { color: #B42929;}
}

/* Corpo */

/* --- Index --- */

main {
    display: flex;
    flex-direction: column;
}

#titulo {
    margin-top: 150px;
    padding: 10px;
    filter: drop-shadow(5px 5px 5px #000000);
}

p {
    margin: 0;
    padding: 10px;
    filter: drop-shadow(10px 10px 10px #111111);
}

#noticia_index, #post_index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.seta_index {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_index {
    flex: 1;
    background-color: #ffffff36;
    border: 5px solid;
    border-radius: 20px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: troca_borda;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-width: 250px;
}

@keyframes troca_borda {
    0% { border-color: #B42929;}
    25% { border-color: #832b2b;}
    50% { border-color: #aa4646;}
    75% { border-color: #832b2b;}
    100% { border-color: #B42929;}
}

article img {
    width: 80%;
    margin-top: 30px;
    border-radius: 5%;
    filter: drop-shadow(0px 0px 15px #333333);
}

/* --- Notícias --- */

#pesquisa_conteudo {
    margin-bottom: 1.5rem;
}

.noticia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #ffffff36;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 5%;
}

.noticia img {
    width: 80%;
    margin-top: 30px;
    border-radius: 5%;
    filter: drop-shadow(0px 0px 15px #333333);
}

#botao_mais {
    background: linear-gradient(to right, #B42929, #222222);
    border: none;
    outline: none;
    font-family: "Comic Relief", system-ui;
    color: #FFFFFF !important;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

/* --- Posts --- */

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #ffffff36;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 5%;
}

#foto_post, .foto_post {
    width: 80%;
    margin-top: 30px;
    border-radius: 5%;
    filter: drop-shadow(0px 0px 15px #333333);
}

#conteudo_post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conteudo_usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#foto_usuario, .foto_usuario {
    width: 40%;
    padding: 10px;
    border-radius: 20px;
}

#info_usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Bandas --- */

table {
    background: radial-gradient(#222222, #111111);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 90%;
}

caption {
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 10px;
}

/* Rodápe */

footer {
    margin-top: 20px;
}

#footerPT1 {
    background: radial-gradient(#222222, #111111); 
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.rede {
    width: 100px;
}

#midias {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
}

#midias img {
    width: 40%;
}

#footerPT2 {
    background: radial-gradient(#111111, #000000);
}

/* ------ RESPONSIVIDADE ------ */

@media (min-width: 768px) {

    /* Configurações Gerais */

    .botao {
        cursor: pointer;
    }

    #botao_mais {
        cursor: pointer;
    }

    /* Index */

    #main_index {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    #index_container {
        display: flex;
        justify-content: space-between; 
        width: 90%; 
        margin: auto; 
    }

    #noticia_index {
        height: 600px;
    }

    #noticia_index, #post_index {
        margin: 0 10px; 
        min-width: 300px; 
    }

    .seta_index {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        cursor: pointer; 
    }

    .seta_index img {
        width: 50px;
        height: auto;
    }

    .conteudo_index {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #ffffff20;
        border-radius: 10px;
        min-height: 400px;
    }

    .conteudo_index img {
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
    }

    /* --- Notícias --- */
    #container_noticias {
        display: flex;
        flex-direction: row;
    }

    .noticia {
        width: 30%;
        height: 500px;
    }

    /* --- Posts --- */

    #container_posts {
        display: flex;
        flex-direction: row;
    }

    .post {
        width: 30%;
    }

}
